<center>
    <h2>Login</h2>
    <table>
        <form action="/login" method="post">
            <tr>
                <td><label for="usuario">Email</label></td>
                <td><input type="text" name="email" id="email" required="required"></td>
            </tr>
            <tr>
                <td><label for="senha">Senha</label></td>
                <td><input type="text" name="senha" id="senha" required="required"></td>
            </tr>
            <tr>
                <td colspan="2">
                <input type="submit" value="Login" class="btn btn-success">
                </td>
            </tr>
        </form>
    </table>
</center>

{{{home}}}